body{
    background-color: blue;
}

h1{
    text-align: center;
    color: white;
}

div{
    text-align: center;
}

ul{
    text-align: center;
}

#ulList{
    border: 1px solid black;
}

#add{
    float: none;
}